/* =========================
   AJUSTES RESPONSIVE
   ========================= */

@media (max-width: 999px) {
  body {
    padding-bottom: 70px;
  }
}

@media (max-width: 699px) {
  body {
    padding-bottom: 64px;
  }
}

@media (max-width: 380px) {
  body {
    padding-bottom: 64px;
  }
}

/* =========================
   REDUCED MOTION
   ========================= */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}